@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p><a href="/Teacher/List">Teachers List</a></p>
    <p><a href="/School/StudentList">Students List</a></p>
    <p><a href="/School/ClassesList">Classess List</a></p>
</div>

