@model Cumulative_Project.Models.Teacher;

@{
    ViewBag.Title = "DeleteConfirm";
}


<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/Show/@Model.teacherId">Cancel</a>
    </nav>
    <h2>Are you sure you want to delete @Model.teacherFname @Model.teacherLname?</h2>
    <p>This action cannot be undone.</p>
   
    <form method="POST" id="deleteForm" onsubmit="deleteTeacher(event)">
        <input type="hidden" value="@Model.teacherId" id="teacherId" />
        <button class="delbutton" type="submit">
            Confirm Delete
        </button>
    </form>
</div>

<script>
    function deleteTeacher(event) {
        event.preventDefault(); // Prevent default form submission

        var form = document.getElementById("deleteForm");
        var teacherId = document.getElementById("teacherId");

        var xhr = new XMLHttpRequest();
        var url = "http://localhost:5069/Teacher/Delete/" + teacherId.value;

        xhr.open("POST", url, true);

        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    alert("Teacher deleted successfully.");
                } else {
                    alert("Failed to Delete teacher. Error: " + xhr.status);
                }
                navigation.navigate('/Teacher/List');
            }
        };

        xhr.send();
    }

</script>